<a href="https://colab.research.google.com/github/MasaHLabo/PyCode/blob/main/Database_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データベースとは？
*   データを蓄積，管理する仕組みと蓄積したデータを操作する仕組むを提供するシステムのこと
*   常時働き続けてデータの格納や検索に関する要求を待ち受けるプログラミング
*   DBMS:DataBase Management System データベース管理システム


*   様々な用途に使用されている
*   インターネット上のサービス，SNSや検索サイト，ショッピングサイトなどのユーザデータの管理や検索履歴，商品の管理に利用されている

データベースをPythonで扱うために標準ライブラリのSQLite3を利用します。

データベースを取りあえずColabで使うためにGoogleDrive上のファイルを扱えるようにします（ファイルの入出力で行ったことを参照）

# ファイルの入出力
GoogleColabでは，PCのローカルにあるファイルを直接利用することができないため，GoogleDriveに置いて使う必要がある．

その手順は（簡易的な方法もあるが今後のため一般的なものを）

1.   GllgleColabで，GoodleDriveをマウント
2.   GoogleDriveに対象ファイルをアップロード
1.   GoogleColabで対象ファイルを読み込んで利用

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

毎回ドライブがどこにあるのか示す場所（パス）を入力するのは面倒なので設定しておきましょう。

In [ ]:
path='/content/drive/MyDrive/'

次にこれもデータベースの名前を決めておきます。

In [ ]:
db_name = 'data.db'

ここから実際のデータベースの扱いに話になります

手順１：ライブラリのインポート

In [ ]:
import sqlite3 # SQLite3をインポートする

手順２：データベースに接続する

In [ ]:
con=sqlite3.connect(path+db_name)

手順3：Cursorオブジェクトを作成する

In [ ]:
cursor1 = con.cursor() # Cursorオブジェクトを作成する

そしてデータベースを扱うSQL文を作成する。
ここではデータベースがないので新しくテーブルを作成している

In [ ]:
sql = 'CREATE TABLE users(id INTEGER, name TEXT)'

手順４：SQL文を実行する

手順５：変更をデータベースに保存（反映）する

手順６：データベースを閉じる

In [ ]:
cursor1.execute(sql) # SQL文を実行する
con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じる

6.6データベースの操作

6.6.1データの挿入

・直接指定する方法

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する

sql = 'INSERT INTO users(id, name) VALUES(1, "おおつま")' 
cursor1.execute(sql) # SQL文を実行する

con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じるcursor1

・挿入する値を引数として渡す方法

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する

user=(1, 'おおつま')
sql = 'INSERT INTO users(id, name) VALUES(?, ?)' 
cursor1.execute(sql,user) # SQL文を実行する

con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じるcursor1

問題1　p.155図6.10にあるデータを追加するプログラムの作成（まずは簡単な方法）

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する

sql = 'INSERT INTO users(id, name) VALUES(?, ?)' 
 
user2=(2, 'はなこ')
user3=(3,'からきだ')
user4=(4,'ちよだ')
tuple_list = [list(user2), list(user3), list(user4)]
for i in range(3):
    cursor1.execute(sql,tuple_list[i]) # SQL文を実行する


#cursor1.execute(sql,user2) # SQL文を実行する
#cursor1.execute(sql,user3) # SQL文を実行する
#cursor1.execute(sql,user4) # SQL文を実行する

con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じるcursor1

データを増やす

問題１発展　for文を使う方法（時間があるときに考える）

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する

sql = 'INSERT INTO users(id, name) VALUES(?, ?)' 
 
user2=(2, 'はなこ')
user3=(3,'からきだ')
user4=(4,'ちよだ')
tuple_list = [(user2), (user3), (user4)]
for i in range(3):
    cursor1.execute(sql,tuple_list[i]) # SQL文を実行する


#cursor1.execute(sql,user2) # SQL文を実行する
#cursor1.execute(sql,user3) # SQL文を実行する
#cursor1.execute(sql,user4) # SQL文を実行する

con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じるcursor1

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する

sql = 'INSERT INTO users(id, name) VALUES(?, ?)' 
user2=(2, 'はなこ')
user3=(3,'からきだ')
user4=(4,'ちよだ')
#tuple_list = [list(user2), list(user3), list(user4)]
tuple_list = [(user2), (user3), (user4)]
for user in tuple_list:
  print(user)
  #sql = 'INSERT INTO users(id, name) VALUES(?, ?)' 
  cursor1.execute(sql,user) # SQL文を実行する
con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じるcursor1

(2, 'はなこ')
(3, 'からきだ')
(4, 'ちよだ')

6.6.2 データの検索

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(2, 'はなこ')
(3, 'からきだ')
(4, 'ちよだ')
(1, 'おおつま')

検索の条件を指定する

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE id=1'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(1, 'おおつま')

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE id<=3'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(2, 'はなこ')
(3, 'からきだ')
(1, 'おおつま')

AND,ORで検索の条件を複数指定する

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE id=1 or id=3'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(3, 'からきだ')

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE id>=1 AND id<=3'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(2, 'はなこ')
(3, 'からきだ')

あいまい検索

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE name LIKE "お%"'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE name LIKE "%き%"'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(3, 'からきだ')

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users WHERE name LIKE "%だ"'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(3, 'からきだ')
(4, 'ちよだ')

ソートする

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users ORDER BY id DESC'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(4, 'ちよだ')
(3, 'からきだ')
(2, 'はなこ')
(1, 'おおつま')

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users ORDER BY name DESC'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(2, 'はなこ')
(4, 'ちよだ')
(3, 'からきだ')
(1, 'おおつま')

件数を制限する

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor() # Cursorオブジェクトを作成する
sql = 'SELECT * FROM users LIMIT 3'
for row in cursor1.execute(sql): # 実行結果を取り出す
    print(row) # 出力
con.close() # データベースを閉じる

(1, 'おおつま')
(2, 'はなこ')
(3, 'からきだ')

6.6.3 データの更新

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続
cursor1 = con.cursor() # Cursorオブジェクトを作成
sql = 'UPDATE users SET name = "さやま" WHERE id = 2'
cursor1.execute(sql) # SQL文を実行する
con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じる

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続
cursor1 = con.cursor() # Cursorオブジェクトを作成
user=('さやま',2)
sql = 'UPDATE users SET name = ? WHERE id = ?'
cursor1.execute(sql,user) # SQL文を実行する
con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じる

6.6.4 データの削除

In [ ]:
con = sqlite3.connect(path+db_name) # データベースに接続する
cursor1 = con.cursor()	# Cursorオブジェクトを作成する
sql = 'DELETE FROM users WHERE id = 3'
cursor1.execute(sql) # SQL文を実行する
con.commit() # 変更をデータベースに保存する
con.close() # データベースを閉じる

6.7はスクレイピングを学んでから学習しましょう